{% extends 'base.html' %} {% load static %} {% load bootstrap4 %}
<link rel="stylesheet" href="{% static 'css/hood.css' %}"> {% block content %}
<div class="container-fluid">
    <div class="row" id="titles">

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a href="{% url 'recommendations' %}"><button>Recommendations</button></a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a href="/reports"><button>Reports</button></a>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <!-- blank div -->
        </div>
        
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" id="table">
            <table>
                <tr>
                    <th>Institution</th>
                    <th>Dept</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>

                {% for Rec in Recs %}
                <tr>
                        <td>{{ Rec.institution_name }}</td>
                        <td>{{ Rec.dept }}</td>
                        <td>{{ Rec.outstanding }}</td>
                        <td>{{ Rec.desc }}</td>
                </tr>
                {% endfor %}
                {% for Rep in Reps %}
                <tr>
                        <td>{{ Rep.institution_name }}</td>
                        <td>{{ Rep.dept }}</td>
                        <td>{{ Rep.outstanding }}</td>
                        <td>{{ Rep.desc }}</td>
                </tr>
                {% endfor %}
            </table>

        </div>
        
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <!-- blank div -->
        </div>

    </div>

    <hr>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <!-- blank -->
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a href="/makeReport"><button>Make Report</button></a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a href="/makeRecommendations"><button>Make Recommendation</button></a>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <!-- blank -->
        </div>

    </div>

</div>
{% endblock %}